html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #212222;
  color: white;
}
h1{
  color: #42D651;
}
body > .container {
  padding: 80px 15px 0;
}

label{
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #0C0E0F;
  color: white;
  border-top: 4px solid #1B662B;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container > span{
  color: white;
  padding-right: 50px;
}
.footer > .container > span > a{
  color: white;
  padding-right: 50px;
}
nav{
  background-color: #0C0E0F; 
  height: 80px;
}
.nav-outerspass{
  border-right: 2px solid #1B662B;
  padding-right: 15px;
  font-size: 26px;
}
.icons{
  padding: 5px 40px 0 0;
}
.nav-item{
  color: white;
  font-size: 22px;
  padding: 0 10px;
}

