html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #212222;
  color: white;
}
h1{
  color: #42D651;
}
.contact{
  color: #42D651;
  padding: 20px 0;
}
body > .container {
  padding: 80px 15px 0;
}

label{
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #0C0E0F;
  color: white;
  border-top: 4px solid #1B662B;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container > span{
  color: white;
  padding-right: 50px;
}
.footer > .container > span > a{
  color: white;
  padding-right: 50px;
}
nav{
  background-color: #0C0E0F; 
  height: 80px;
}
.nav-outerspass{
  border-right: 2px solid #1B662B;
  padding-right: 30px;
  font-size: 26px;
}
.icons{
  padding: 5px 40px 0 0;
}
.nav-item{
  color: white;
  font-size: 22px;
  padding: 0 10px;
}
.user-info{
  padding: 6em 0;
}
.btn{
  border: none;
  color: #0C0E0F;
  background-color: #42D651;
  border: solid 2px #42D651;
}
.btn > a{
  color: black;
  text-decoration: none;
}
.user-info > p{
  padding-top: 20px;
}
.btn-primary {
  color: black;
  background-color: #42D651;
  border-color: #42D651 /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: black;
  background-color: #42D651;
  border-color: #1B662B; /*set the color you want here*/
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle, .btn:hover{
  color: black;
  background-color: #42D651;
  border-color: #1B662B; /*set the color you want here*/

}
.container{
  max-width: 1600px;
}
.mt-auto{
  margin: 50px;
  padding: 20px 40px;
  background-color: #0C0E0F;
  box-shadow: 2px 2px 2px black;
}
.flex-wrap{
  margin: 40px 0;
}
.margin-top
{
	margin-top: 30px;
}


